.menu {
	margin-right: 10px;
	display: flex;
	height: 100%;
	width: 40px;
	justify-content: center;
	align-items: center;
}

.shareButton {
	display: none;
}

.saveButton {
	display: none;
}

.commentsButton {
	display: none;
}