.karmaCounter {
	height: 100%;
	display: flex;
	flex-direction: column;
	width: 40px;
	justify-content: center;
	align-items: center;
}

.up {
	margin-bottom: 2px;
}

.down {
	margin-top: 3px;
}

svg.down {
	transform: rotate(180deg);
}